* {
    margin: 0;
    padding: 0;
}

body {
    background: url("img/bubbles.png");
    background-size: repeat 12.5%;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background: black;
    color: white;

    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-weight: normal;
    font-variant: small-caps;
    font-size: 4vh;
}

header img {
    height: 7.5vh;
    width: auto;
    padding-bottom: 1.5vh;
    padding-inline: 1vh;
}

nav {
    background: rgb(25, 25, 25);

    height: 1.5rem;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding-inline: 1.5vw;
}


nav a {
    color: white;
    
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.empty {
    color: gray;
    text-decoration: rgba(125, 125, 125) line-through;
}

.empty:hover {
    text-decoration: rgba(125, 125, 125) line-through;
}

main {
    background: black;
    color: white;

    height: fit-content;
    width: 60%;
    
    margin: 5vh 20%;

    border: rgb(25, 25, 25) 0.25rem solid;
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#main_div {
    width: 97%;
    height: 77%;
    
    border: 0.125rem white dashed;
    margin: 0;
    
    padding: 1% 1%;
}

#main_div h2, #main_div h3 {
    text-transform: lowercase;
}
/* wip
#index_content_1 {

}
*/
#about_content_1 {
    padding-top: 1rem;
}

#about_content_1 li {
    padding-left: 1rem;
    list-style-type: none;
}

footer {
    background: black;
    color: white;

    height: 5vh;
    width: 100%;

    display:  flex;
    justify-content: center;
    align-items: center;

    border-top: 0.5vh solid rgb(25, 25, 25);

    text-align: center;
    font-size: 100%;

    position:fixed;
    bottom: 0;
}

.author {
    transition: color 2000ms ease;
}

@media screen and (max-width: 800px) {
    main {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #main_div {
        width: 98%;
    }
    footer {
        position: static;
    }
}

@media screen and (max-width: 375px) {
    header {
        height: 5%;
    }
    header h1 {
        font-size: 8vw;
    }
    header img {
        width: 11vw;
        height: auto;
    }
    nav li {
        font-size: 4.5vw;
    }
    footer {
        height: fit-content;
        font-size: 4vw;
    }
}
